host: test.oppwa.com
protocol: https
apiVersion: v1
paymentUrl: payments
checkoutUrl: checkouts
authentication:
    userId: 8a8294174b7ecb28014b9699220015cc
    password: sy6KJsT8
    entityId: 8a8294174b7ecb28014b9699220015ca

brands:
    directdebit_sepa:
        type: banktransfer
        - amount
        - currency
        - paymentBrand
        - paymentType
        - bankAccount.bic
        - bankAccount.iban
        - bankAccount.country
        - bankAccount.holder
    amex: #AmericanExpress
        type: creditcard
        - amount
        - currency
        - paymentBrand
        - paymentType
        - card.number
        - card.holder
        - card.expiryMonth
        - card.expiryYear
        - card.cvv

directdebit_sepa:
    type: banktransfer

amex:
    type: creditcard